// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 2em;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

#page {
  width: 80%;
  margin: 0 auto;
}
